<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Trelane.Server.Gothos</title>
    <link rel="stylesheet" href="~/css/lib.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body class="one">
<header class="container two">
    <nav id="navigation" class="bar">
        <a href="/" class="bar-item button"><img src="~/logo.png" alt="Logo" width="18" height="18"/> Home</a>
        <a class="bar-item"> | </a>
        <div class="dropdown-hover">
            <button class="button">Services</button>
            <div class="dropdown-content bar-block border">
                <a href="https://stuffby.acei.us/cloud" class="bar-item button">Cloud.IO</a>
                <a href="https://stuffby.acei.us/pastebin" class="bar-item button">PrivateBin</a>
                <a href="https://stuffby.acei.us/" class="bar-item button">All Services</a>
            </div>
        </div>
        <a class="bar-item"> | </a>
        <a href="/contact.html" class="bar-item button">Contact</a>
        <a href="/donate.html" class="bar-item button">Donate</a>
        <a href="https://stuffby.acei.us" class="bar-item button right">Sign In</a>
    </nav>

    <h1>@ViewData["Title"]</h1>
    <h3>Acei.us</h3>
</header>
<div class="container">
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer class="border-top">
    <div class="container">
        <p>&copy; 2025 - Trelane.Server.Gothos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </p>
    </div>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>