/* Main */

:root {
    --back: #222;
    --text: #eee;
    --link: #4F79F7FF;
    --visited: #86c;
    --toolbar: #111;
    --spacing: 8px;
    --border: 1px solid #444;
    --width: 80vw;
}

@media (prefers-color-scheme: light) {
    :root {
        --back: #fff;
        --text: #222;
        --toolbar: #ddd;
        --border: 1px solid #ccc;
    }
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    font-size: calc(var(--spacing) * 2);
    font-weight: normal;

    background: var(--back);
    color: var(--text);

    margin: var(--spacing);
}

/* Elements */

a {
    color: var(--link);
    cursor: pointer;
}

a:visited {
    color: var(--visited);
}

a:not([href]) {
    color: var(--text);
}

button:not(.link-button),
input[type="file"] {
    background: var(--back);
    color: var(--text);

    padding: var(--spacing);
    border: var(--border);

    cursor: pointer;
}

button:not(.link-button):not(.none):hover {
    background: var(--text);
    color: var(--back);
}

table {
    border: var(--border);

    td {
        padding: var(--spacing);
    }

    td.last {
        text-align: right;
    }
}

input, select {
    border: 0;
    border-bottom: var(--border);
    background: transparent;
    color: var(--text);
    font-size: inherit;
    text-align: center;
    width: fit-content;
}

input[type="file"] {
    padding: calc(var(--spacing) / 2);
}

input[type="file"]::file-selector-button {
    background: var(--back);
    color: var(--text);

    padding: var(--spacing);
    border: var(--border);

    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background: var(--text);
    color: var(--back);
}

/* Modifiers */

button.primary {
    border-color: var(--link);
    color: var(--link);
}

*:disabled, .disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.none {
    cursor: auto;
    border: 0;
}

/* Layout */

.row-2 {
    display: flex;

    .column {
        flex: 50%;
    }
}

/* Generic Components */

.heading {
    text-align: center;
}

h1, .heading.title {
    font-size: 24pt;
    font-weight: bold;
}

h2, .heading.subtitle {
    font-size: 16pt;
    font-weight: normal;
}

.buttons {
    margin: auto;
    text-align: center;

    button {
        margin: 0 calc(var(--spacing) / 4);
    }
}

.card {
    background: var(--back);
    color: var(--text);

    border: var(--border);
    padding: calc(var(--spacing) * 10);

    text-align: center;
    cursor: pointer;
    
    p {
        font-size: 18pt;
    }
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .content {
        background-color: var(--back);
        color: var(--text);

        margin: auto;
        padding: 20px;

        border: var(--border);
        max-width: var(--width);
    }
}


.dropdown, .status {
    display: inline-block;

    font-size: calc(var(--spacing) * 1.75);

    margin: 0;
    padding: 0;
}

.dropdown-button, .status {
    padding: calc(var(--spacing) / 2);
    margin: 0;
}

.dropdown-content {
    background-color: var(--toolbar);

    display: none;
    position: absolute;
    z-index: 1;

    min-width: 100px;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: var(--border);
}

.dropdown-content * {
    padding: var(--spacing);
    margin: 0;
    border: none;

    width: 100%;

    background-color: var(--toolbar);

    text-decoration: none;
    text-align: left;
    display: block;
}

.dropdown-content *:not(.disabled):hover {
    background-color: var(--text);
    color: var(--back);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.link-button {
    background: transparent;
    color: var(--link);

    font-size: inherit;

    text-decoration: underline;
    cursor: pointer;

    border: 0;
    padding: 0;
}

/* Specific Components */

.load-table {
    width: var(--width);
    margin: var(--spacing);
}

.load-table * {
    cursor: pointer;
}

.load-table * a:hover {
    text-decoration: underline;
}

.load-table-solid {
    background-color: var(--back);
}

input.card-input {
    width: 100%;
    font-size: calc(var(--spacing) * 1.75);
    border: 0;
}

.edit-table {
    width: var(--width);
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;

    font-size: calc(var(--spacing) * 2);

    background: var(--toolbar);

    .status {
        display: inline-block;

        position: absolute;
        top: 0;
        right: 0;
    }
}

/* Specific Elements */

.new-card-button {
    padding: 0;
    margin: 0;

    font-size: 125%;

    border-radius: var(--spacing);
}

#splash {
    width: calc(var(--width) / 2);
    margin: auto;
}

#wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--spacing) * 2);
}

#app {
    min-width: calc(var(--width) + (var(--spacing) * 2));
    max-height: 90vh;

    padding: var(--spacing);

    overflow-y: scroll;
}