:root {
    --back: #222;
    --text: #eee;
    --link: rgb(79, 121, 247);
    --visited: #86c;
    --spacing: 8px;
    --border: 1px solid #444;
    --width: 800px;
}

@media (prefers-color-scheme: light) {
    :root {
        --back: #fff;
        --text: #222;
    }
}

body {
    font-family: Cantarell, Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: calc(var(--spacing) * 2);

    background: var(--back);
    color: var(--text);

    margin: var(--spacing);
}

a {
    color: var(--link);
    cursor: pointer;
}

a.disabled {
    opacity: 0.5;
}

a:not([href]) {
    color: var(--text);
}

a:visited {
    color: var(--visited);
}

button,
input[type="file"] {
    background: var(--back);
    color: var(--text);

    padding: var(--spacing);
    border: var(--border);

    cursor: pointer;
}

table {
    border: var(--border);
    width: var(--width);

    td {
        padding: var(--spacing);
    }

    td.last {
        text-align: right;
    }
}

input {
    border: 0;
    border-bottom: var(--border);
    background: transparent;
    color: var(--text);
    font-size: inherit;
    text-align: center;
    width: fit-content;
}

input.card-input {
    width: 100%;
    font-size: calc(var(--spacing) * 1.75);
    border: 0;
}

input[type="file"] {
    padding: calc(var(--spacing) / 2);
}

.primary {
    background-color: var(--link);
    border: 0;
}

.none {
    cursor: auto;
    border: 0;
}

.heading {
    text-align: center;

    .title {
        font-size: 24pt;
        font-weight: bold;
    }

    .subtitle {
        font-size: 18pt;
        font-weight: lighter;
    }
}

.buttons {
    margin: auto;
    text-align: center;

    button {
        margin: 0 calc(var(--spacing) / 4);
    }
}

.card {
    background: var(--back);
    color: var(--text);

    padding: calc(var(--spacing) * 10);

    border: var(--border);
    border-radius: var(--spacing);

    text-align: center;
    cursor: pointer;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .content {
        background-color: var(--back);
        color: var(--text);

        margin: auto;
        padding: 20px;

        text-align: center;

        border: var(--border);
        width: var(--width);
    }
}

#wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--spacing) * 2);
}

#app {
    max-width: calc(var(--width) + (var(--spacing) * 2));
    max-height: 90vh;

    padding: var(--spacing);

    overflow-y: scroll;
}