/* Main */

:root {
    --background: #222;
    --toolbar: #111;
    --text: #fff;

    --primary: #4F79F7;
    --link: var(--primary);
    --close: #f55;
    --visited: #86c;

    --border: 1px solid #444;
    --spacing: 8px;
    --width: 80vw;
}

[data-theme="light"] {
    --background: #fff;
    --toolbar: #ddd;
    --text: #222;

    --border: 1px solid #ccc;
}

[data-theme="gunmetal"] {
    --background: #1d1e35;
    --toolbar: #002;
    --text: #f5f5f5;

    --primary: #448;
    --link: #4F79F7;

    --border: 1px dotted white;
}

[data-theme="rosemary"] {
    --background: #fff9ff;
    --toolbar: #fcf;
    --text: #222;

    --primary: #faf;
    --link: #794FF7;
}

[data-theme="elite"] {
    --background: #111;
    --toolbar: #222;
    --text: #ff7100;

    --primary: var(--text);
    --link: var(--text);

    font-family: monospace;

    * {
        border-color: var(--primary) !important;
    }

    .toolbar {
        background: var(--toolbar) !important;
    }
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    font-size: calc(var(--spacing) * 2);
    font-weight: normal;

    background: var(--background);
    color: var(--text);

    margin: var(--spacing);
}

/* Elements */

a {
    color: var(--link);
    cursor: pointer;
}

a:visited {
    color: var(--visited);
}

a:not([href]) {
    color: var(--text);
}

button:not(.link-button),
input[type="file"] {
    background: var(--background);
    color: var(--text);

    padding: var(--spacing);
    border: var(--border);

    cursor: pointer;
}

button:not(.link-button):not(.none):not(.primary):hover {
    background: var(--text);
    color: var(--background);
}

table {
    border: var(--border);

    td {
        padding: var(--spacing);
    }

    td.last {
        text-align: right;
    }
}

input,
select {
    border: 0;
    border-bottom: var(--border);
    background: var(--background);
    color: var(--text);
    font-size: inherit;
    text-align: center;
    width: fit-content;
}

input[type="file"] {
    padding: calc(var(--spacing) / 2);
}

input[type="file"]::file-selector-button {
    background: var(--background);
    color: var(--text);

    padding: var(--spacing);
    border: var(--border);

    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background: var(--text);
    color: var(--background);
}

option {
    background-color: var(--background);
    color: var(--text);
}

/* Modifiers */

button.primary {
    background: var(--primary);
    color: #fff;

    border-color: #fff;
}

button.close {
    background: transparent;
    border-color: transparent;
    color: var(--text);

    font-size: 18px;
    font-weight: bold;

    padding: 0;
    margin: 0;

    height: 32px;
    width: 32px;

    position: absolute;
    right: 0;
    top: 0;
}

button.close:hover {
    background: transparent !important;
    color: var(--text) !important;
}

button.primary:hover {
    opacity: 75%;
}

*:disabled,
.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.none {
    cursor: auto;
    border: 0;
}

/* Layout */

.row-2 {
    display: flex;

    .column {
        flex: 50%;
    }
}

/* Generic Components */

.heading {
    text-align: center;
}

h1,
.heading.title {
    font-size: 24pt;
    font-weight: bold;
}

h2,
.heading.subtitle {
    font-size: 16pt;
    font-weight: normal;
}

.buttons {
    margin: auto;
    text-align: center;

    button {
        margin: 0 calc(var(--spacing) / 4);
    }
}

.card {
    background: var(--background);
    color: var(--text);

    border: var(--border);
    padding: calc(var(--spacing) * 10);

    text-align: center;
    cursor: pointer;

    p {
        font-size: 18pt;
    }
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .content {
        background-color: var(--background);
        color: var(--text);

        position: absolute;
        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);

        margin: auto;
        padding: 20px;

        border: var(--border);
        max-width: var(--width);
    }
}


.dropdown,
.status {
    display: inline-block;

    font-size: calc(var(--spacing) * 1.75);

    margin: 0;
    padding: 0;
}

.dropdown-button,
.status {
    padding: calc(var(--spacing) / 2);
    background: var(--toolbar) !important;

    margin: 0;
    border: 0 solid transparent !important;
}

.dropdown-button:hover {
    background: var(--background) !important;
    color: var(--text) !important;
}

div.dropdown-button {
    background: transparent !important;
}

.dropdown-content {
    background-color: var(--toolbar);

    display: none;
    position: absolute;
    z-index: 1;

    min-width: 100px;

    margin: 0;
    padding: 0;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: var(--border);
}

.dropdown-content * {
    padding: var(--spacing);
    margin: 0;
    border: none;

    width: 100%;

    background-color: var(--toolbar);

    text-decoration: none;
    text-align: left;
    display: block;
}

.dropdown-content *:not(.disabled):hover {
    background-color: var(--text);
    color: var(--background);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.link-button {
    background: transparent;
    color: var(--link);

    font-size: inherit;

    text-decoration: underline;
    cursor: pointer;

    border: 0;
    padding: 0;
}

.hint {
    font-style: italic;
    text-align: center;
    opacity: 75%;
    font-size: 75%;
}

/* Specific Components */

.load-table-container {
    max-height: 50vh;

    overflow: scroll;
}

.load-table {
    width: 100%;
}

.load-table * {
    cursor: pointer;
}

.load-table * a:hover {
    text-decoration: underline;
}

.load-table-solid {
    background-color: var(--background);
}

input.card-input {
    width: 100%;
    font-size: calc(var(--spacing) * 1.75);
    border: 0;
}

.edit-table {
    width: var(--width);
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;

    font-size: calc(var(--spacing) * 2);

    background: linear-gradient(to right, var(--primary), var(--toolbar) 10%);

    .status {
        display: inline-block;

        position: absolute;
        top: 0;
        right: 0;
    }
}

/* Specific Elements */

.login-modal input {
    width: 100%;
}

.new-card-button {
    padding: 0;
    margin: 0;

    font-size: 125%;

    border-radius: var(--spacing);
}

#splash {
    width: calc(var(--width) / 2);
    margin: auto;
}

#wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--spacing) * 2);
}

#app {
    min-width: calc(var(--width) + (var(--spacing) * 2));
    max-height: 90vh;

    padding: var(--spacing);

    overflow-y: scroll;
}