:root {
    --back: #222;
    --text: #eee;
    --link: #8cd;
    --visited: #86c;
    --spacing: 8px;
    --border: 1px solid #444;
}

@media (prefers-color-scheme: light) {
    :root {
        --back: #fff;
        --text: #222;
    }
}

body {
    font-family: monospace;

    background: var(--back);
    color: var(--text);

    margin: 0;
}

a {
    color: var(--link);
    cursor: pointer;

    text-decoration: underline;
}

a:not([href]) {
    color: var(--text);
}

a:visited {
    color: var(--visited);
}

button, input[type="file"] {
    background: var(--back);
    color: var(--text);

    border: var(--border);
    border-radius: var(--spacing);

    padding: var(--spacing);

    cursor: pointer;
}

table {
    border: var(--border);
    min-width: 400px;

    td {
        padding: var(--spacing);
    }

    td.last {
        text-align: right;
    }
}

input {
    border: 0;
    background: transparent;
    color: var(--text);
}

input[type="file"] {
    color: red;
}

.primary {
    background-color: var(--link);
    color: var(--back);
    border: 0;
}

.none {
    cursor: auto;
    border: 0;
}

.heading {
    text-align: center;

    .title {
        font-size: 24pt;
    }

    .subtitle {
        font-size: 12pt
    }
}

.buttons {
    margin: auto;
    text-align: center;

    button {
        margin: 0 calc(var(--spacing) / 2);
    }
}

.card {
    background: var(--back);
    color: var(--text);

    border: var(--border);
    border-radius: var(--spacing);

    padding: calc(var(--spacing) * 10);

    cursor: pointer;
}

#wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}